name: Deploy Fullstack App v0.6

on:
  push:
    branches: [main]
    tags: ['*']

env:
  FRONTEND_BUILD_DIR: './admin-dashboard/dist'
  PM2_APP_NAME: 'update-build-CICD-daily'
  RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
  RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}
  REACT_APP_API_URL: "https://cicd-b3dev.onrender.com/api"

jobs:
  frontend:
    name: Deploy Frontend to VPS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Build frontend
        working-directory: admin-dashboard
        run: |
          npm install     # Utilise npm install si pas de package-lock.json
          npm run build

      - name: Setup SSH Key
        run: |
          echo "${{ secrets.VPS_SSH_KEY }}" > /tmp/deploy_key 
          chmod 600 /tmp/deploy_key
          mkdir -p ~/.ssh
          echo "${{ secrets.VPS_KNOWN_HOSTS }}" > ~/.ssh/known_hosts

      - name: Rsync frontend to VPS
        run: |
          rsync -e "ssh -i /tmp/deploy_key -o StrictHostKeyChecking=yes" -az --delete $FRONTEND_BUILD_DIR ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:$VPS_TARGET_DIR

      - name: Restart PM2 frontend service
        run: |
          ssh -i /tmp/deploy_key -o StrictHostKeyChecking=yes ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "pm2 reload $PM2_APP_NAME --update-env"

  backend:
    name: Deploy Backend to Render
    runs-on: ubuntu-latest
    needs: frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        working-directory: backend-API
        run: npm install

      - name: Deploy to Render
        working-directory: backend-API
        env:
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
          RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}
          MONGO_URI: ${{ secrets.MONGO_URI }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          JWT_expiresIn: "1d"
        run: |
          curl -X POST \
          -H "Authorization: Bearer $RENDER_API_KEY" \
          -H "Accept: application/json" \
          -H "Content-Type: application/json" \
          -d @- "https://api.render.com/v1/services/$RENDER_SERVICE_ID/deploys" <<EOF
          {
            "clearCache": true
          }
          EOF
